*.json
*.hip
**/__pycache__/*
.python-version


# documentation artifactsbuild/
.vs/
CMakeLists.txt
build/
_build/
_images/
_static/
_templates/
_toc.yml
docBin/
src/HipifyAction.cpp
src/CUDA2HIP.h
CMakeLists.txt
